@include test('cmp(..)') {
  $test: cmp('1.2.3', '==', '0.1.2');
  $expect: false;
  @include assert-equal($test, $expect, 'Compare both versions.');

  $test: cmp('1.2.3', '===', '0.1.2');
  $expect: false;
  @include assert-equal($test, $expect, 'Compare both versions.');

  $test: cmp('1.2.3', '>', '0.1.2');
  $expect: true;
  @include assert-equal($test, $expect, 'Compare both versions.');

  $test: cmp('1.2.3', '>=', '0.1.2');
  $expect: true;
  @include assert-equal($test, $expect, 'Compare both versions.');

  $test: cmp('1.2.3', '!=', '0.1.2');
  $expect: true;
  @include assert-equal($test, $expect, 'Compare both versions.');

  $test: cmp('1.2.3', '!==', '0.1.2');
  $expect: true;
  @include assert-equal($test, $expect, 'Compare both versions.');

  $test: cmp('1.2.3', '<', '0.1.2');
  $expect: false;
  @include assert-equal($test, $expect, 'Compare both versions.');

  $test: cmp('1.2.3', '<=', '0.1.2');
  $expect: false;
  @include assert-equal($test, $expect, 'Compare both versions.');
}
