@include test('eq(..)') {
  $test: eq('1.2.3', '3.2.1');
  $expect: false;
  @include assert-equal($test, $expect, 'Returns whether v1 is equal to v2');

  $test: eq('1.2.3', '1.2.3');
  $expect: true;
  @include assert-equal($test, $expect, 'Returns whether v1 is equal to v2');
}
