@include test('gte(..)') {
  $test: gte('1.2.3', '3.2.1');
  $expect: false;
  @include assert-equal($test, $expect, 'Returns whether v1 is greater than or equal to v2');

  $test: gte('1.2.3', '1.2.3');
  $expect: true;
  @include assert-equal($test, $expect, 'Returns whether v1 is greater than or equal to v2');

  $test: gte('1.2.3', '0.1.2');
  $expect: true;
  @include assert-equal($test, $expect, 'Returns whether v1 is greater than or equal to v2');
}
