@include test('inc(..)') {
  $test: inc('1.2.3', 'major');
  $expect: '2.0.0';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3', 'minor');
  $expect: '1.3.0';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3', 'patch');
  $expect: '1.2.4';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3', 'prerelease');
  $expect: '1.2.3-beta.0';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3', 'prerelease', 'foobar');
  $expect: '1.2.3-foobar.0';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3-foobar.0', 'prerelease');
  $expect: '1.2.3-foobar.1';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3', 'premajor');
  $expect: '2.0.0-beta.0';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3', 'preminor');
  $expect: '1.3.0-beta.0';
  @include assert-equal($test, $expect, 'Increments a version.');

  $test: inc('1.2.3', 'prepatch');
  $expect: '1.2.4-beta.0';
  @include assert-equal($test, $expect, 'Increments a version.');
}
