@include test('lte(..)') {
  $test: lte('1.2.3', '3.2.1');
  $expect: true;
  @include assert-equal($test, $expect, 'Returns whether v1 is letter than or equal to v2');

  $test: lte('1.2.3', '1.2.3');
  $expect: true;
  @include assert-equal($test, $expect, 'Returns whether v1 is letter than or equal to v2');

  $test: lte('1.2.3', '0.1.2');
  $expect: false;
  @include assert-equal($test, $expect, 'Returns whether v1 is letter than or equal to v2');
}
