/// Return the patch version number
/// @param {String} $version
/// @return {Number}
/// @example scss
///   $patch: patch('1.2.3');
///   -> 3
@function patch($version) {
  $first-chunk: str-slice($version, str-index($version, '.') + 1);
  $second-chunk: str-slice($first-chunk, str-index($first-chunk, '.') + 1);
  $end: if(str-length($second-chunk) > 1, (str-index($second-chunk, '-') or 0) - 1, 1);
  @return _to-number(str-slice($second-chunk, 1, $end));
}
